<div id="contents">
  <ul class="games flex clearfix">
    <li class="gameBox" *ngFor="let game of games">
      <div class="owned" *ngIf="game.owned">★</div>
      <div class="frameH"></div>
      <div class="frameB">
        <div class="package">
          <img src="../../assets/boxart/{{game.id}}.jpg" width="180" height="261">
        </div>
        <p class="gameTitle" style="height: 93px;">{{game.name}}</p>
        <div class="gameButton">
          <a routerLink="/game/{{game.id}}">{{game.id}}</a>
        </div>
      </div>
      <div class="frameF"></div>
    </li>
  </ul>
</div>

<app-game-detail [game]="selectedGame"></app-game-detail>