<div id="contents">
  <div>Number of games: {{games.length}}</div>
  <div class="search-area">
    <label for="search-name">Search</label>
    <input id="search-name" class="search" type="text" placeholder='Search name' (keyup)="onKey($event)" />
  </div>
  <div class="search-area">
    <label for="dropdown-owned">Owned</label>
    <select id="owned-dd" [(ngModel)]="ownedSelectedValue" class="search" (change)="onChangeOwned($event)">
      <option value="">All</option>
      <option value="true">Owned</option>
      <option value="false">Not Owned</option>
    </select>
  </div>
  <div class="search-area" *ngIf="filtersLoaded | async">
    <label for="dropdown-category">Category</label>
    <select id="category-dd" [(ngModel)]="categorySelectedValue" class="search" (change)="onChangeCategory($event)">
      <option value="">All</option>
      <option *ngFor="let category of categories.results" [ngValue]="category.name">{{category.name}}</option>
    </select>
  </div>
  <ul class="games flex clearfix">
    <li class="gameBox" *ngFor="let game of games">
      <div class="owned" *ngIf="game.owned">★</div>
      <div class="category-display">{{game.category}}</div>
      <div class="frameH"></div>
      <div class="frameB">
        <div class="package">
          <img src="../../assets/boxart/{{game.id}}.jpg" width="180" height="261">
        </div>
        <div class="year-display">{{game.releaseDate.getFullYear()}}</div>
        <p class="gameTitle" style="height: 123px;">{{game.name}}</p>
        <div class="gameButton">
          <a routerLink="/game/{{game.id}}">{{game.id}}</a>
        </div>
      </div>
      <div class="frameF"></div>
    </li>
  </ul>
</div>