/* HeroDetailComponent's private CSS styles */
.details {
  max-width: 812px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  color: #484848;
  height: 650px;
}
.boxart {
  float: right;
  clear: right;
  margin-left: 5px;
  margin-top: 100px;
}
.title {
  background: #ed1d24;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  position: relative;
  margin: 2.5em 0 1.8em;
  padding: 1em 142px 1em .3em;
  border-radius: 5px;
}
#attributes {
  border-collapse: collapse;
  width: 400px;
  display: table;
  box-sizing: border-box;
}
table {
  margin: 10px;
}
td {
  height: 50px;
  padding-left: 15px;
}
.esrb {
  float: right;
  clear: right;
  margin-right: 30px;
}