<div class="details" *ngIf="game">
    <div class="title">
        <img class="boxart" src="../../assets/boxart/{{game.id}}.jpg" width="250" height="330">
        {{game.name | uppercase}} 
    </div>

    <table id="attributes">
        <tbody>
            <tr>
                <td>Identifier:</td>
                <td>{{game.id}}</td>
            </tr>
            <tr *ngIf="game.publisher">
                <td>Publisher:</td>
                <td>{{game.publisher}}</td>
            </tr>
            <tr *ngIf="game.developer">
                <td>Developer:</td>
                <td>{{game.developer}}</td>
            </tr>
            <tr *ngIf="game.region">
                <td>Region:</td>
                <td>{{game.region}}</td>
            </tr>
            <tr *ngIf="game.releaseDate">
                <td>Release Date:</td>
                <td>{{game.releaseDate | date: "MMM yy"}}</td>
            </tr>
            <tr *ngIf="game.players">
                <td>Number of Players:</td>
                <td>{{game.players}}</td>
            </tr>
            <tr *ngIf="game.board">
                <td>Board:</td>
                <td>{{game.board}}</td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="game.upc">
        <img id="upc">
    </div>

    <div *ngIf="game.esrb" class="esrb">
        <img src="../../assets/esrb/{{game.esrb}}.png">
    </div>

</div>