<div class="details" *ngIf="game">
    <div class="title">
        <img clas="boxart" src="../../assets/boxart/{{game.id}}.jpg">
        {{game.name | uppercase}} 
    </div>

    <div>
        <label>Name:
            <input [(ngModel)]="game.name" placeholder="Name" />
        </label>
    </div>
    <div>
        <label>Publisher:
            <input [(ngModel)]="game.publisher" placeholder="Publisher" />
        </label>
    </div>
    <div>
        <label>Developer:
            <input [(ngModel)]="game.developer" placeholder="Developer" />
        </label>
    </div>
    <div>
        <label>Region:
            <input [(ngModel)]="game.region" placeholder="Region" />
        </label>
    </div>
    <div>
        <label>Release Date:
            <input [(ngModel)]="game.releaseDate" placeholder="Release Date" />
        </label>
    </div>
    <div>
        <label>ESRB:
            <input [(ngModel)]="game.esrb" placeholder="esrb" />
        </label>
    </div>

</div>