/* HeroDetailComponent's private CSS styles */
.details {
  max-width: 812px;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  color: #484848;
}
.boxart {
  position: absolute;
  right: 0;
  border-radius: 0;
  top: 50%;
  margin-top: -95px;
  display: block;
  margin: 0 auto;
  height: auto;
    max-width: 100%;
    min-width: 0;
    outline: 0;
    width: auto;
}
.title {
  background: #ed1d24;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  position: relative;
  margin: 2.5em 0 1.8em;
  padding: 1em 142px 1em .3em;
  border-radius: 5px;
}
  
  
  /*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
  */